<ul>
  <ol>Debe tener acceso a SpotifyForDeveloper</ol>
  <ol>Debe Conceder los permisos necesarios para el consumo de la api</ol>
  <ol>Debe contar con una cuenta que le provea un <span class="badge badge-dark">client_id</span> y <span class="badge badge-dark">client_secret</span></ol>
  <ol>Debe obtener el token_id</ol>
  <ol>
    <form>
      <div class="form-group">
        <label>Email address</label>
        <input type="text" class="form-control" placeholder="BQDvNvSsxs3keBq2rI5SGmfdtZRUAMxJfI......." #token>
      </div>
      <button type="button" (click)="guardarToken( token.value )" class="btn btn-primary mb-2">Validar Token</button>
    </form>
    <div *ngIf="error" class="alert alert-danger">
        Token Invalido
    </div>
  </ol>
</ul>
