<div class="center">
  <app-spinner *ngIf="spinner"></app-spinner>
</div>
<div class="row" *ngIf="!spinner">
  <div class="col-4">
    <img [src]="artist | noImage " class="circle img-thumbnail" alt="imagen artista">
  </div>
  <div class="col-4">
    <h1>{{artist.name}}</h1>
    <p>Followers :{{ artist.followers.total}} </p>
    <a [href]="artist.external_urls" target="_blank">Visitar Artista</a>
  </div>
  <div class="col-4">
    <a class="btn btn-danger mt-5" routerLink="home">Regresar</a>
  </div>
</div>

<hr>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Albúm</th>
        <th>Canción</th>
        <th>Vista Previa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of topTracks">
        <td>
          <img [src]="track.album | noImage" alt="imagen album" class="img-thumbnail circle img-album"
            style="height: 100px;">
        </td>
        <td>
          <p>{{ track.album.name }}</p>
        </td>
        <td>
          <p>{{ track.name }}</p>
        <td>
            <iframe style="border-radius:12px"
              [src]="track.uri | domSeguro :'https://open.spotify.com/embed?uri='" width="100%"
              height="220" frameBorder="0" allowfullscreen=""
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </td>
      </tr>
    </tbody>
  </table>
</div>
